version: '3.8'

services:
  postgres:
    image: public.ecr.aws/docker/library/postgres:16-alpine
    container_name: postgres_learning
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: learn_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: